.slick-prev,
.slick-next {
  z-index: 1;
  color: black; /* 箭头的颜色 */
}

.slick-prev:before,
.slick-next:before {
  font-size: 24px; /* 箭头的大小 */
}

.slick-prev {
  left: 10px; /* 左箭头的位置 */
}

.slick-next {
  right: 10px; /* 右箭头的位置 */
}

  